# ไฟล์ Python ที่คอมไพล์แล้ว
*.pyc
*.pyo
*.pyd
__pycache__/

# ไฟล์และโฟลเดอร์ที่เกี่ยวกับแพ็กเกจ
*.egg-info/
*.egg

# ไฟล์ล็อกและแคชของระบบ
*.log
*.tmp
.DS_Store

# ไฟล์ที่เกี่ยวข้องกับ venv
venv/
.env

# ไฟล์ที่เกี่ยวข้องกับ Kivy
*.kvs

# ไฟล์ที่เกี่ยวข้องกับเสียงและกราฟิกที่ไม่ต้องการติดตาม
assets/
*.mp3
*.wav
*.ogg
*.png
*.jpg
*.jpeg
*.gif

# ไฟล์ที่เกี่ยวข้องกับแพ็กเกจและการติดตั้ง
pip-log.txt
pip-delete-this-directory.txt

# ไฟล์ที่เกี่ยวกับ IDE
.vscode/
.idea/
*.iml